.about{
    width: 1510px;
    margin: 0 auto;
    padding: 0px;
    background-color: white;
}

h2{
    margin: 0 auto;
    padding: 0px;
}

.thougtful-wrapper{
    margin: 0 auto;
    padding: 0px;
    width: 1170px;
    height: 665px;
}