.baner{
    display: flex;
    flex-direction: row;
    width: 1510px;
    height: 1026px;
    margin: 0 auto;
    padding: 0px;
    background-image: url(./imgs/bg\ \(1\).png), url(./imgs/image.png);
    background-repeat: no-repeat;
}

.form-wrapper__text{
    margin: 0 auto;
}

.form__input{
    padding: 0px;
    margin: 0 auto;
}

input{
    border: none;
}  

button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.modern__wrapper{
    display: flex;
    flex-direction: row;
}

.modern__logo{
    padding-left: 170px;
    padding-top: 306px;
}


.modern__title{
    width: 670px;
    padding-left: 170px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 48px;
    line-height: 56px;
    font-weight: 500;
    color: #FFFFFF;
}

.modern__line{
    margin-left: 170px;
    margin-top: 55px;
    width: 180px;
    border-top: 2px solid #FFFFFF;
}

.modern__text{
    width: 270px;
    padding-left: 170px;
    padding-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.modern__btn{
    margin-left: 170px;
    margin-top: 30px;
    width: 270px;
    height: 58px;
    border: 2px solid #FFFFFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

.modern__btn:hover{
    border: 2px solid #EC7979;
    color:#EC7979
}

.modern__btn:active{
    background-color: #AB4949;
    border: #AB4949;
    color: white;

}

.form-wrapper{
    position: relative;
    margin-top: 283px;
    margin-left: 30px;
    width: 470px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
}

.form-wrapper__text{
    width: 367px;
    height: 90px;
    text-align: center;
    margin-left: 50px;
    margin-top: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight:700 ;
    font-size: 24px;
    color: #333333;
}

.free{
    color: #EC7979;
}

.form__input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 370px;
    height: 180px;
}

input{
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}

.form__btn{
    padding: 0px;
    width: 470px;
    height: 60px;
    position: absolute;
    bottom: 0;
    text-align: center;
    background: #EC7979;
    border-radius: 0px 0px 10px 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    cursor: pointer;
}

