.design{
    width: 1510px;
    height: 442px;
    margin: 0 auto;
    padding: 0px;
    background-image:url(./imgs/background\ city.png), url(./imgs/background-city.png);
    background-repeat: no-repeat;
}

.design-wrapper{
    margin: 0 auto;
    padding: 0px;
    width: 1170px;
    display: flex;
    flex-direction: column;
}

.design-title{
    width: 1170px;
    padding: 0px;
    height: 100px;
    padding-top: 100px;
    cursor: pointer;
}

.stylish-text{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: white;
}

.design-line{
    width: 170px;
    margin: 0 auto;
    border-top: 1px solid #FFFFFF;
}

.design-text{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 40px;
}

button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.design-btn{
    margin-left: 400px;
    margin-top: 73px;
    width: 370px;
    height: 58px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
    border: 2px solid #FFFFFF;
}

.design-btn:hover{
    border: 2px solid #EC7979;
    color:#EC7979
}

.design-btn:active{
    background-color: #AB4949;
    border: #AB4949;
    color: white;

}

