.pricing{
    width: 1510px;
    height: 900px;
    margin: 0 auto;
    padding: 0px;
    background-color: #F5F5F5;
}

.price-wrapper{
    margin: 0 auto;
    padding: 0px;
    width: 1170px;
    display: flex;
    padding-top: 50px;
    flex-direction: column;
}

.price-title{
    width: 1170px;
    padding: 0px;
    height: 100px;
    padding-top: 50px;
    cursor: pointer;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: #000000;
}

.price-line{
    width: 170px;
    margin: 0 auto;
    border-top: 1px solid #EC7979;
}

.price-text{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;    
    color: #86878B;
    text-align: center;
    height: 21px;
    margin-top: 40px;
    cursor: pointer;
}

.price-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.price-card__title{
    width: 368px;
    height: 60px;
    padding: 0px;
    background-color: #333333;
    border: 2px solid #F5F5F5;
    margin: 60px 15px 0px 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.price-card__dolr{
    width: 368px;
    height: 100px;
    padding: 0px;
    background-color: #333333;
    border: 2px solid #F5F5F5;
    margin: 0px 15px 0px 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.price-card__text{
    width: 368px;
    height: 50px;
    padding: 0px;
    background-color: #333333;
    border: 2px solid #F5F5F5;
    margin: 0px 15px 0px 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    color: #86878B;
    cursor: pointer;
}

.price-card__list{
    padding: 0px;
    margin: 0px 15px 0px 15px;
}

li{
    width: 368px;
    height: 50px;
    padding: 0px;
    list-style: none;
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    color: #86878B;
    cursor: pointer;
}

.price-card1, .price-card3{
    margin-top: 20px;
}

.price-card2{
    filter:drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}